<style>
    body, html {
        height: 100%;

    }

    .parallax {
        /* The image used */
        background-image: url("./czerwona_szminka.jpg");

        /* Full height */
        min-height: 300px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<div class="container" ng-controller="ProductsCtrl">
    <h1>Strona użytkownika</h1>
    <button class="btn btn-primary" ng-click="logout()">Wyloguj się</button>
    <button class="btn btn-primary" ng-click="addProduct()">Dodaj produkt</button>
    <ul class="list-group">
        <div infinite-scroll="getMoreData()">
            <li ng-repeat="product in data" class="list-group-item">
                <div class="parallax"></div>
                <div>
                    <h2>{{ product.name }}</h2>
                    <h4>{{product.description}}</h4>
                </div>
                <div class="parallax"></div>
            </li>
        </div>
    </ul>

</div>
